<div class="card" id="<%= dom_id note %>">
  <div class="card-header">
    <h3 class="card-title">
      <%= link_to note.title, note_path(note) %>
    </h3>
  </div>

  <div class="card-status-start bg-dark"></div>
  <div class="card-body">
    <%= note.content %>
  </div>

  <div class="card-footer">
    <% note.tag_list.each do |tag| %>
      <%= link_to notes_path(tagged: tag) do %>
        <span class="badge rounded-pill bg-primary">
          <%= tag %>
        </span>
      <% end %>
    <% end %>
  </div>
</div>
