<div class="page page-center">
  <div class="container-tight py-4">
    <div class="text-center mb-4">
      <%= image_tag 'logo.svg', size: 150, class: "navbar-brand navbar-brand-autodark" %>
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { "data-turbo": false, class: "card card-md" }) do |f| %>
      <div class="card-body">
        <h2 class="card-title text-center mb-4">Войти в аккаунт</h2>

        <div class="mb-3">
          <%= f.label :email, "Электронная почта", class: "form-label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Введите почту", class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :password, "Пароль", class: "form-label" %>
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "Пароль", class: "form-control" %>
        </div>

        <div class="form-footer">
          <%= f.submit "Войти", class: "btn btn-dark w-100" %>
        </div>
      </div>
    <% end %>

    <div class="text-center text-muted mt-3">
      Хотите создать аккаунт? <%= link_to "Создать", new_user_registration_path %>
    </div>
  </div>
</div>
