<!DOCTYPE html>
<html>
  <head>
    <title>Knowledge base</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="border-top-wide border-primary d-flex flex-column theme-light">
    <%= render partial: "layouts/alerts" %>

    <div class="page">
      <% if user_signed_in? %>
        <%= render partial: 'layouts/navbar' %>
        <div class="page-wrapper">
          <div class="page-body">
            <div class="container-xl">
              <div class="row">
                <div class="col-12">
                  <%= yield %>
                </div>
              </div>
            </div>
          </div>
          <%= render partial: "layouts/footer" %>
        </div>
      <% else %>
        <%= yield %>
      <% end %>
    </div>
  </body>
</html>
